{% load static %}

{% include 'partials/head.html' %}

{% include 'partials/header.html' %}

<body>

  <div class="container my-5">
    <div class="mb-5">
      <h1 class="text-body-emphasis">Acessar Dados</h1>
      <p>
        Acesse os dados das suas analises de solo e recomendações de solo
      </p>

      <br>

      <main class="container">

        <div class="my-3 p-3 bg-body rounded shadow-sm">
          <h6 class="border-bottom pb-2 mb-0">Análises</h6>

          {% for analise in analises %}
          <div class="d-flex text-body-secondary pt-3">
            <i class="bi bi-clipboard-data"></i>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">

                <strong class="text-gray-dark">{{ analise.id }}</strong>

                <a href="{% url 'delete_inserir_analise' analise.id %}" class="btn btn-danger rounded-pill px-3">Deletar</a>
              </div>
              <ul>
                <li>N {{analise.N}}</li>
                <li>P {{analise.P}}</li>
                <li>K {{analise.K}}</li>
                <li>Temperatura {{analise.Temperatura}}</li>
                <li>Humidade {{analise.Humidade}}</li>
                <li>pH {{analise.pH}}</li>
                <li>Chuva {{analise.Chuva}}</li>
                
                <li>Colheita</li>
              </ul>
              <span class="d-block">{{nome_usuario}}</span>
            </div>
          </div>
          {% endfor %}
      
      </main>

    </div>
  </div>

</body>

{% include 'partials/footer.html' %}