{% load static %}

{% include 'partials/head.html' %}

{% include 'partials/header.html' %}

<style>
  .numeric-input::-webkit-inner-spin-button,
  .numeric-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .numeric-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 50px;
  }
</style>

<body>

  <div class="container my-5">
    <div class="mb-5">
      <h1 class="text-body-emphasis">Acessar Dados</h1>
      <p>
        Acesse os dados das suas analises de solo e recomendações de solo
      </p>

      <br>

      <main class="container">

        <div class="input-group mb-3">
          <input type="text" class="form-control link-body-emphasis text-decoration-none" placeholder="Pesquisar por análise" id="searchInput">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
        </div>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Pesquisar por usuário" id="searchInput">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
          <h6 class="border-bottom pb-2 mb-0">Análises</h6>

          {% for analise in analises %}
          <div class="d-flex text-body-secondary pt-3">
            <img src="../static/img/clipboard-data.svg" alt="logo-oraculus" width="32px" height="32px">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              
              <div class="d-flex justify-content-between">

              <h4><strong class="text-body-emphasis ps-2"><a href="{% url 'visualizar_analise' analise.id %}">Análise {{ analise.id }}</a></strong></h4>

              <a href="{% url 'delete_inserir_analise' analise.id %}" class="btn btn-danger rounded-pill px-3 pe-3"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg> Deletar
              </a>

              </div>

              <h4 class="text-body-emphasis pt-3 pb-1">{{ analise.Colheita }}</h4>

              <div class="table-responsive small">
                <table class="table table-striped table-sm tabela-dados">
                  <thead>
                    <tr>
                      <th scope="col">N</th>
                      <th scope="col">P</th>
                      <th scope="col">K</th>
                      <th scope="col">Temperatura</th>
                      <th scope="col">Umidade</th>
                      <th scope="col">ph</th>
                      <th scope="col">Chuva</th>
                    </tr>
                  </thead>
                  <tbody>
                
                      <tr>
                        <td><input class="numeric-input" type="number" name="N" value="{{analise.N}}" readonly></td>
                        <td><input class="numeric-input" type="number" name="P" value="{{analise.P}}" readonly></td>
                        <td><input class="numeric-input" type="number" name="K" value="{{analise.K}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Temperatura" value="{{analise.Temperatura}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Umidade" value="{{analise.Umidade}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="pH" value="{{analise.pH}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Chuva" value="{{analise.Chuva}}" readonly></td>
                      </tr>
        
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          {% endfor %}

      </main>

    </div>
  </div>

</body>

{% include 'partials/footer.html' %}