{% load static %}

{% include 'partials/head.html' %}

{% include 'partials/header.html' %}

<style>
  .numeric-input::-webkit-inner-spin-button,
  .numeric-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .numeric-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 50px;
  }
</style>

{% include 'partials/modal_confirmacao.html' %}

{% include 'partials/modal_upload_csv.html' %}



<div class="container my-5">
    <div class="mb-5">
      <h1 class="text-body-emphasis">Inserir Análise</h1>
      <p>
        Insira os dados de uma análise de solo para recomendar o melhor tipo de plantio
      </p>

      <br>

      <a href="#" class="link-body-emphasis text-decoration-none" aria-expanded="false"
     data-toggle="modal" data-target="#modalUploadCSV">
      <button id="uploadCSV" class="btn btn-primary rounded-pill px-3 mx-right">
        <i class="bi bi-upload pe-2"></i> Importar CSV</button>
      </a>

      <button id="downloadCSV" class="btn btn-success rounded-pill px-3 mx-right">
        <i class="bi bi-download pe-2 "></i> Baixar modelo CSV
      </button>

    </div>

      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">N</th>
              <th scope="col">P</th>
              <th scope="col">K</th>
              <th scope="col">Umidade</th>
              <th scope="col">Temperatura</th>
              <th scope="col">ph</th>
              <th scope="col">Chuva</th>
            </tr>
          </thead>
          <tbody>
            <form action="{% url 'rodar_algoritmo_analise' %}" method="POST">

              {% csrf_token %}
              <tr>
                <td><input class="numeric-input" type="number" name="N" value=""></td>
                <td><input class="numeric-input" type="number" name="P" value=""></td>
                <td><input class="numeric-input" type="number" name="K" value=""></td>
                <td><input class="numeric-input" type="float" name="Umidade" value=""></td>
                <td><input class="numeric-input" type="float" name="Temperatura" value=""></td>
                <td><input class="numeric-input" type="float" name="pH" value=""></td>
                <td><input class="numeric-input" type="float" name="Chuva" value=""></td>
  
                <td><button class="remove-row-button btn btn-danger rounded-pill">X</button></td>
              </tr>

          </tbody>
        </table>
      </div>

      <button type="submit" id="sendInfo" class="btn btn-success rounded-pill px-3" aria-expanded="false"
      data-toggle="modal">
      <i class="bi bi-arrow-up-right pe-2"></i> Enviar dados
      </button>

      </form>

      <button id="addRowButton" class="btn btn-primary rounded-pill px-3">
        <i class="bi bi-plus-circle pe-2"></i> Adicionar Linha</button>

      <script>
        const addRowButton = document.getElementById("addRowButton");
        addRowButton.addEventListener("click", () => {
          const tbody = document.querySelector("tbody");
          const newRow = document.createElement("tr");
          newRow.innerHTML = `
                <td><input class="numeric-input" type="number" name="N" value=""></td>
                <td><input class="numeric-input" type="number" name="P" value=""></td>
                <td><input class="numeric-input" type="number" name="K" value=""></td>
                <td><input class="numeric-input" type="float" name="Umidade" value=""></td>
                <td><input class="numeric-input" type="float" name="Temperatura" value=""></td>
                <td><input class="numeric-input" type="float" name="pH" value=""></td>
                <td><input class="numeric-input" type="float" name="Chuva" value=""></td>
          <td><button class="remove-row-button btn btn-danger rounded-pill px-2.5">X</button></td>
          `;
          tbody.appendChild(newRow);
      
          const removeButtons = document.querySelectorAll(".remove-row-button");
          removeButtons.forEach(button => {
            button.addEventListener("click", () => {
              const row = button.parentNode.parentNode;
              row.remove();
            });
          });
        });
      </script>

{% include 'partials/footer.html' %}