{% load static %}

{% include 'partials/modal_usuario_senha_errado.html' %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Oraculus</title>

        <link rel="shortcut icon" href="../static/img/logo-oraculus.png"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/style.css' %}">
        
    </head>

    <header>
      <div class="px-1 py-1 my-1 text-center">
        <img src="/static/img/logo-oraculus.png" alt="logo-oraculus">
        <h1 class="display-5 fw-bold text-body-emphasis">Oraculus</h1>
      </div>
    </header>

    <body>
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-md-10 mx-auto col-lg-5">

            <form action="{% url 'login' %}" method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

              {% csrf_token %}
      
              <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Username" name="username">
                <label for="floatingInput">Username</label>
              </div>
              
              <div class="form-floating mb-3">
                <input type="password" class="form-control" placeholder="Senha" name="senha">
                <label for="floatingPassword">Senha</label>
              </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Lembre-me
                </label>
              </div>

              <input type="submit" class="w-100 btn btn-lg btn-primary" value="Login">

              <hr class="my-4">
              
              <a class="w-100 btn btn-lg btn-secondary" href="{% url 'registrar' %}">Cadastrar</a>
      
            </form>
          </div>

          <button type="submit" id="user_pass_error" class="btn btn-success rounded-pill px-3" aria-expanded="false"
      data-toggle="modal" data-target="#user_pass_error">
      <i class="bi bi-arrow-up-right pe-2"></i> Erro
      </button>
        </div>

      </div>
    </body> 

    {% include 'partials/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{% static 'index.js' %}"></script>
    
</html>
