{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Oraculus</title>

        <link rel="shortcut icon" href="../static/img/logo-oraculus.png">
        <link rel="stylesheet" href="{% static '../static/css/bootstrap.css' %}">
        
    </head>

    <header>
      <div class="px-1 py-1 my-1 text-center">
        <img src="../static/img/logo-oraculus.png" alt="logo-oraculus">
        <h1 class="display-5 fw-bold text-body-emphasis">Oraculus</h1>
      </div>
    </header>

    <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"><strong>Logout realizado com sucesso</strong></p><br>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="w-40 btn btn-lg btn-primary" href="{% url 'login' %}">Ir para o login</a>
          </div>
        </div>
    </div>
    
    {% include 'partials/footer.html' %}

</html>
