{% load static %}

{% include 'partials/head.html' %}

{% include 'partials/header.html' %}

<style>
  .dropdown-toggle {
    width: 200px;
  }

  .custom-margin {
    margin-right: 20px;
  }

  .crop-result{
    margin-top: 35px;
  }

  .numeric-input::-webkit-inner-spin-button,
  .numeric-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .numeric-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 60px;
  }

  .hidden {
    display: none;
  }
</style>


<div class="container my-5">
  <div class="mb-5">
    <h1 class="text-body-emphasis">Recomendar Colheita</h1>
    <p>
      Escolha abaixo um tipo de colheita, e nosso Oráculo te recomendará as melhores características de solo para ela
    </p>
  </div>

  <div class="d-flex justify-content align-items-center mt-3">
    <div class="dropdown d-flex">
        <button class="btn btn-primary dropdown-toggle custom-margin" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Selecione uma cultura
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 200px; overflow-y: auto;">
            <li>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar" id="searchInput">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                      <i class="bi bi-search pe-2"></i></button>
                </div>
            </li>
            <li>
              <li><a class="dropdown-item" href="" data-value="Arroz">Arroz</a></li>
              <li><a class="dropdown-item" href="" data-value="Milho">Milho</a></li>
              <li><a class="dropdown-item" href="" data-value="Grão de bico">Grão de bico</a></li>
              <li><a class="dropdown-item" href="" data-value="Feijão">Feijão</a></li>
              <li><a class="dropdown-item" href="" data-value="Guandu">Guandu</a></li>
              <li><a class="dropdown-item" href="" data-value="Feijão Traça">Feijão Traça</a></li>
              <li><a class="dropdown-item" href="" data-value="Feijão Mungu">Feijão Mungu</a></li>
              <li><a class="dropdown-item" href="" data-value="Feijão Preto">Feijão Preto</a></li>
              <li><a class="dropdown-item" href="" data-value="Lentilha">Lentilha</a></li>
              <li><a class="dropdown-item" href="" data-value="Romã">Romã</a></li>
              <li><a class="dropdown-item" href="" data-value="Banana">Banana</a></li>
              <li><a class="dropdown-item" href="" data-value="Manga">Manga</a></li>
              <li><a class="dropdown-item" href="" data-value="Uva">Uva</a></li>
              <li><a class="dropdown-item" href="" data-value="Melancia">Melancia</a></li>
              <li><a class="dropdown-item" href="" data-value="Melão">Melão</a></li>
              <li><a class="dropdown-item" href="" data-value="Maçã">Maçã</a></li>
              <li><a class="dropdown-item" href="" data-value="Laranja">Laranja</a></li>
              <li><a class="dropdown-item" href="" data-value="Mamão Papaya">Mamão Papaya</a></li>
              <li><a class="dropdown-item" href="" data-value="Coco">Coco</a></li>
              <li><a class="dropdown-item" href="" data-value="Algodão">Algodão</a></li>
              <li><a class="dropdown-item" href="" data-value="Juta">Juta</a></li>
              <li><a class="dropdown-item" href="" data-value="Café">Café</a></li>
        </ul>

        <form method="POST" id="selecionar-form" action="{% url 'calcular_valores' %}">

          {% csrf_token %}

          <select name="label" id="select-label" class="form-select btn btn-primary dropdown-toggle custom-margin">
            
              <option value="Arroz" class="dropdown-item">Arroz</option>
              <option value="Milho" class="dropdown-item">Milho</option>
              <option value="Grão de bico" class="dropdown-item">Grão de bico</option>
              <option value="Feijão" class="dropdown-item">Feijão</option>
              <option value="Guandu" class="dropdown-item">Guandu</option>
              <option value="Feijão Traça" class="dropdown-item">Feijão Traça</option>
              <option value="Feijão Mungu" class="dropdown-item">Feijão Mungu</option>
              <option value="Feijão Preto" class="dropdown-item">Feijão Preto</option>
              <option value="Lentilha" class="dropdown-item">Lentilha</option>
              <option value="Romã" class="dropdown-item">Romã</option>
              <option value="Banana" class="dropdown-item">Banana</option>
              <option value="Manga" class="dropdown-item">Manga</option>
              <option value="Uva" class="dropdown-item">Uva</option>
              <option value="Melancia" class="dropdown-item">Melancia</option>
              <option value="Melão" class="dropdown-item">Melão</option>
              <option value="Maçã" class="dropdown-item">Maçã</option>
              <option value="Laranja" class="dropdown-item">Laranja</option>
              <option value="Mamão Papaya" class="dropdown-item">Mamão Papaya</option>
              <option value="Coco" class="dropdown-item">Coco</option>
              <option value="Algodão" class="dropdown-item">Algodão</option>
              <option value="Juta" class="dropdown-item">Juta</option>
              <option value="Café" class="dropdown-item">Café</option>
          </select>

          <button id="sendInfo" class="btn btn-success px-3" aria-expanded="false">
            <i class="bi bi-arrow-up-right pe-2"></i> Recomendar Colheita
          </button>

      </form>

  </div>

  </div>

  <div class="table-responsive small crop-result" id="recommendationTable">

  <hr>

  <h4 class="text-body-emphasis pt-3 pb-1">Colheita: {{ colheita }}</h4>

  <hr>

    <h4 class="text-body-emphasis pt-3 pb-1">Media dos valores da colheita: </h4>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
          <th scope="col"><img src="../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
          <th scope="col"><img src="../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
          <th scope="col"><img src="../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
          <th scope="col"><img src="../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="numeric-input" type="text" value="{{ media_n }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ media_p }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ media_k }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ media_temperature }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ media_humidity }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ media_ph }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ media_rainfall }}" readonly></td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-body-emphasis pt-3 pb-1">Valores mínimos do solo para a colheita: </h4>

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
          <th scope="col"><img src="../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
          <th scope="col"><img src="../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
          <th scope="col"><img src="../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
          <th scope="col"><img src="../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="numeric-input" type="text" value="{{ min_n }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ min_p }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ min_k }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ min_temperature }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ min_humidity }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ min_ph }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ min_rainfall }}" readonly></td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-body-emphasis pt-3 pb-1">Valores maximos do solo para a colheita: </h4>

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
          <th scope="col"><img src="../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
          <th scope="col"><img src="../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
          <th scope="col"><img src="../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
          <th scope="col"><img src="../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="numeric-input" type="text" value="{{ max_n }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ max_p }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ max_k }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ max_temperature }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ max_humidity }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ max_ph }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ max_rainfall }}" readonly></td>
        </tr>
      </tbody>
    </table>

    <h4 class="text-body-emphasis pt-3 pb-1">Desvio padrão para a colheita: </h4>

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
          <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
          <th scope="col"><img src="../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
          <th scope="col"><img src="../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
          <th scope="col"><img src="../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
          <th scope="col"><img src="../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="numeric-input" type="text" value="{{ std_n }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ std_p }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ std_k }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ std_temperature }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ std_humidity }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ std_ph }}" readonly></td>
          <td><input class="numeric-input" type="text" value="{{ std_rainfall }}" readonly></td>
        </tr>
      </tbody>
    </table>

    <hr>

      <a href="{% url 'gerar_relatorio_colheita' %}" class="btn btn-success rounded-pill px-3 mx-right"></i><i class="bi bi-journal-arrow-down pe-2"></i>Gerar Relatório</a>
      
  </div>

</div>

<script>
  const searchInput = document.getElementById('searchInput');
  const dropdownItems = document.querySelectorAll('.dropdown-item');
  const dropdownToggle = document.querySelector('.dropdown-toggle');
  const selectedCropValue = document.getElementById('selectedCropValue');

  searchInput.addEventListener('input', function() {
      const searchTerm = searchInput.value.toLowerCase();

      dropdownItems.forEach(item => {
          const itemText = item.textContent.trim().toLowerCase();
          if (itemText.includes(searchTerm)) {
              item.style.display = 'block';
          } else {
              item.style.display = 'none';
          }
      });
  });

  dropdownItems.forEach(item => {
    item.addEventListener('click', function(event) {
      event.preventDefault();
      dropdownToggle.textContent = item.textContent;
      selectedCropValue.textContent = `${item.textContent}`;
    });
  });

  const sendInfoButton = document.getElementById('sendInfo');
    const recommendationTable = document.getElementById('recommendationTable');

    sendInfoButton.addEventListener('click', () => {
      recommendationTable.classList.toggle('hidden');
    });
  
</script>

{% include 'partials/footer.html' %}
