{% load static %}

{% include 'partials/head.html' %}

{% include 'partials/header.html' %}

<style>
  .numeric-input::-webkit-inner-spin-button,
  .numeric-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .numeric-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 50px;
  }

  .hidden {
    display: none;
  }

</style>


<div class="container my-5">
  <div class="mb-5">
    <h1 class="text-body-emphasis">Resultado Análise</h1>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Com base nos seus resultados a melhor colheita é:</h6>

      <div class="d-flex text-body-secondary pt-3">
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">

            <h3 class="text-body-emphasis">{{ colheita_prevista }}</h3>

          </div>

        </div>
      </div>

    <br>

    <button type=submit class="btn btn-success rounded-pill px-3 mx-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
        <path d="M11 2H9v3h2V2Z"/>
        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0ZM1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5Zm3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4v4.5ZM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5V15Z"/>
      </svg> Salvar análise
   </button>

  </div>

    <div class="table-responsive small" id="analiseTable">

      <h4 class="text-body-emphasis pt-3 pb-1">Dados da análise de solo</h4>
      
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
              <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
              <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
              <th scope="col"><img src="../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
              <th scope="col"><img src="../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
              <th scope="col"><img src="../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
              <th scope="col"><img src="../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
          </tr>
        </thead>
        <tbody>
          <form action="{% url 'salvar_algoritmo_analise' %}" method="POST">

            {% csrf_token %}
          <tr>
            <td><input class="numeric-input" type="number" value="{{ N }}" readonly></td>
            <td><input class="numeric-input" type="number" value="{{ P }}" readonly></td>
            <td><input class="numeric-input" type="number" value="{{ K }}" readonly></td>
            <td><input class="numeric-input" type="float" value="{{ Temperatura }}" readonly></td>
            <td><input class="numeric-input" type="float" value="{{ Umidade }}" readonly></td>
            <td><input class="numeric-input" type="float" value="{{ pH }}" readonly></td>
            <td><input class="numeric-input" type="float" value="{{ Chuva }}" readonly></td>
          </tr>

        </form>
      </tbody>
      </table>

    </div>

    <hr>

              <h4 class="text-body-emphasis pt-3 pb-1">Score-z dos valores</h4>

              <div class="table-responsive small">
                <table class="table table-striped table-sm tabela-dados">
                  <thead>
                    <tr>
                      <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
                      <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
                      <th scope="col"><img src="../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
                      <th scope="col"><img src="../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
                      <th scope="col"><img src="../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
                      <th scope="col"><img src="../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
                      <th scope="col"><img src="../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
                    </tr>
                  </thead>
                  <tbody>
                
                      <tr>
                        <td><input class="numeric-input" type="float" name="N" value="{{ scoreZ_n }}" readonly></td>
                        <td><input class="numeric-input" type="float" name="P" value="{{ scoreZ_p }}" readonly></td>
                        <td><input class="numeric-input" type="float" name="K" value="{{ scoreZ_k }}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Temperatura" value="{{ scoreZ_temperature }}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Umidade" value="{{ scoreZ_humidity }}" readonly></td>
                        <td><input class="numeric-input" type="float" name="pH" value="{{ scoreZ_ph }}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Chuva" value="{{ scoreZ_rainfall }}" readonly></td>
                      </tr>
        
                  </tbody>
                </table>
              </div>

    <hr>

    <h4 class="text-body-emphasis pb-1">Modelo utilizado: {{ modelos.id }} </h4>
    <h4 class="text-body-emphasis pb-1">Acurácia: {{ modelos.acuracia }} %</h4>

      <ul>
        <li><img src="../../static/img/sliders.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Proporção Teste / Treino: {{ modelos.qtdTeste}}</strong></li>
        <li><img src="../../static/img/robot.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Número de vizinhos : {{ modelos.qtdVizinhos }}</strong></li>
        <li><img src="../../static/img/code-slash.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Algoritmo: {{ modelos.algoritmo }}</strong></li>
        <li><img src="../../static/img/magnet.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Pesos: {{ modelos.pesos }}</strong></li>
      </ul> 

    <hr>

  </div>
</div>



<script>
  
  const sendInfoButton = document.getElementById('showInfo');
  const recommendationTable = document.getElementById('analiseTable');

  sendInfoButton.addEventListener('click', () => {
    recommendationTable.classList.toggle('hidden');
  });

  const IaInfoButton = document.getElementById('IaInfoButton');
  const IaInfoTable = document.getElementById('IaInfoTable');

  IaInfoButton.addEventListener('click', () => {
    IaInfoTable.classList.toggle('hidden');
  });

  

</script>

{% include 'partials/footer.html' %}