{% load static %}

{% include 'partials/head.html' %}

{% include 'partials/header.html' %}

<body>

    <div class="container my-5">
      <div class="mb-5">
        <h1 class="text-body-emphasis">Sobre</h1>
        <p>
          Informações sobre o desenvolvimento do sistema
        </p>
  
        <hr>

        <div class="my-3 p-3 bg-body rounded shadow-sm">
          <h4 class="border-bottom pb-2 mb-0">Oraculus - Sobre</h4>

          <div class="text-body-secondary pt-3">

              <h5><strong class="d-block">Desenvolvedor</strong></h5>

              <p>
                O sistema Oraculus foi desenvolvido por Mateus Eduardo Campaner,
                aluno de Engenharia de Software do Centro Universitário Filadélfia - UniFil em Londrina,
                dentro do NPI - Núcelo de Práticas em Informática.
              </p>
        
          </div>

          <hr>

          <div class="text-body-secondary pt-3">

            <h5><strong class="d-block">Sobre o sistema</strong></h5>

            <p>
              O sistema Oraculus desenvolvido tem como objetivo principal fornecer uma predição de colheita 
              utilizando o algoritmo de classificação supervisionada KNN, através da inserção de dados de 
              análise de solo contendo dados de Nitrogênio, Fósforo, Potássio, Temperatura, Umidade, pH e Chuva, e retornando a
              melhor cultura com base nos dados da análise de solo.
            </p>
      
        </div>

        <hr>

          <div class="text-body-secondary pt-3">

            <h5><strong class="d-block">Informações técnicas</strong></h5>

            <p>
              O sistema Oraculus foi desenvolvido utlizando a linguagem Python ( Versão 3.11.3 ), 
              juntamente com o framework Django ( Versão 4.2 ), foi utilizado a a biblioteca do Bootstrap ( Versão 5.3.2 ) 
              para a estilização do sistema e icones, o sistema também possui uma integração com a bilbioteca do Streamlit 
              ( Versão 1.25.0 ) para a geração de um dashboard com gráficos.
            </p>
      
        </div>

        <hr>

          <div class="text-body-secondary pt-3">

            <h5><strong class="d-block">Repositório do projeto</strong></h5>

            <p>
              Para acessar o repositoŕio do projeto no GitHub, clique no botão abaixo.
            </p>

            <a href="https://github.com/MateusCampaner/Oraculus" class="btn btn-primary px-3 pe-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
              </svg>
              Acessar GitHub
            </a>
      
        </div>

      </div>
    </div>
  
  </body>

{% include 'partials/footer.html' %}