{% load static %}

{% include 'partials/head.html' %}

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="/static/img/logo-oraculus.png" alt="logo-oraculus" width="62px" height="56px">
        <span class="fs-2 fw-bold">Oraculus</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
          <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
          </svg> Home</a></li>

      <li class="nav-item"><a href="{% url 'ajuda' %}" class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg> Ajuda</a></li>

      <li class="nav-item"><a href="{% url 'sobre' %}" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </svg> Sobre</a></li>

        <li class="nav-item">
            <a href="#" class="d-block link-body-emphasis text-decoration-none" aria-expanded="false"
               data-toggle="modal" data-target="#profileModal">
                <img src="/static/img/person-circle.svg" alt="mdo" width="48" height="48" class="rounded-circle">
            </a>
        </li>
         
      </ul>
    </header>
</div>

<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="/static/img/logo-oraculus.png" alt="logo-oraculus" width="62px" height="56px">
                    <span class="fs-2 fw-bold">Oraculus</span>
                </div>
            </div>

            <div class="modal-body fw-bold">
                <ul>
                    <li>Conectado como: {{ user.username }}</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a href="{% url 'logout' %}" class="btn btn-danger" aria-current="page">Logout</a>
            </div>
        </div>
    </div>
</div>

<style>
  .numeric-input::-webkit-inner-spin-button,
  .numeric-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .numeric-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 50px;
  }
</style>

<body>

    <div class="container my-5">
      <div class="mb-5">
        <h1 class="text-body-emphasis">Visualizar Análise {{ analises.id }}</h1>

        <br>

        <a href="{% url 'acessar_dados' %}" class="btn btn-primary rounded-pill px-3 pe-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
          Voltar</a>

        <hr>

        <h4 class="text-body-emphasis pt-3 pb-1">Usuário: {{ user.username }}</h4>
        <h4 class="text-body-emphasis pt-3 pb-1">Data: 01/10/2023</h4>

        <hr>

        <h4 class="text-body-emphasis pt-3 pb-1">Colheita recomendada: {{ analises.Colheita }}</h4>

              <div class="table-responsive small">
                <table class="table table-striped table-sm tabela-dados">
                  <thead>
                    <tr>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
                      <th scope="col"><img src="../../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
                      <th scope="col"><img src="../../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
                      <th scope="col"><img src="../../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
                      <th scope="col"><img src="../../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
                    </tr>
                  </thead>
                  <tbody>
                
                      <tr>
                        <td><input class="numeric-input" type="number" name="N" value="{{analises.N}}" readonly></td>
                        <td><input class="numeric-input" type="number" name="P" value="{{analises.P}}" readonly></td>
                        <td><input class="numeric-input" type="number" name="K" value="{{analises.K}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Temperatura" value="{{analises.Temperatura}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Umidade" value="{{analises.Umidade}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="pH" value="{{analises.pH}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Chuva" value="{{analises.Chuva}}" readonly></td>
                      </tr>
        
                  </tbody>
                </table>
              </div>

              <h4 class="text-body-emphasis pt-3 pb-1">Acurácia: 97.8%</h4>

              <hr>

              <h4 class="text-body-emphasis pt-3 pb-1">Score-z dos valores</h4>

              <div class="table-responsive small">
                <table class="table table-striped table-sm tabela-dados">
                  <thead>
                    <tr>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
                      <th scope="col"><img src="../../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
                      <th scope="col"><img src="../../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
                      <th scope="col"><img src="../../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
                      <th scope="col"><img src="../../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
                    </tr>
                  </thead>
                  <tbody>
                
                      <tr>
                        <td><input class="numeric-input" type="number" name="N" value="{{analises.N}}" readonly></td>
                        <td><input class="numeric-input" type="number" name="P" value="{{analises.P}}" readonly></td>
                        <td><input class="numeric-input" type="number" name="K" value="{{analises.K}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Temperatura" value="{{analises.Temperatura}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Umidade" value="{{analises.Umidade}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="pH" value="{{analises.pH}}" readonly></td>
                        <td><input class="numeric-input" type="float" name="Chuva" value="{{analises.Chuva}}" readonly></td>
                      </tr>
        
                  </tbody>
                </table>
              </div>

              <hr>

              <button id="downloadCSV" class="btn btn-success rounded-pill px-3 mx-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-arrow-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z"/>
                  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                </svg> Gerar Relatório
              </button>

              <button id="downloadCSV" class="btn btn-danger rounded-pill px-3 mx-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg> Deletar
              </button>


      </div>
    </div>
  
  </body>

{% include 'partials/footer.html' %}