{% load static %}

{% include 'partials/head.html' %}

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="/static/img/logo-oraculus.png" alt="logo-oraculus" width="62px" height="56px">
        <span class="fs-2 fw-bold">Oraculus</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
          <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
          </svg> Home</a></li>

      <li class="nav-item"><a href="{% url 'ajuda' %}" class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg> Ajuda</a></li>

      <li class="nav-item"><a href="{% url 'sobre' %}" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </svg> Sobre</a></li>

      <li class="nav-item" id="dropdown-parent">
        <a href="#" id="configIA" class="nav-link active" aria-current="page">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>
            {{ user.username }}
        </a>
        <ul id="configTable" class="position-absolute gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light" style="display: none;">
            <a class="dropdown-item rounded-2 active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg> Usuário: {{ user.username }}</a>

            <a class="dropdown-item rounded-2" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-2-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-3 8A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1z"/>
            </svg> Perfil: 
            {% if user.is_superuser %}
            Administrador
            {% else %}
            Usuário
            {% endif %}
          </a>

            <a href="{% url 'logout' %}" class="btn btn-danger" aria-current="page"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
              <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
            </svg> Logout</a>
        </ul>
    </li>
         
      </ul>
    </header>
</div>

<style>
  .numeric-input::-webkit-inner-spin-button,
  .numeric-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .numeric-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 50px;
  }

  #configTable{
    display: none;
  }

  .numeric-input {
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      width: 50px;
      text-align: center;
      background-color: #F2F2F2;
    }

    input:focus {
      outline: none; 
      border: 1px solid #ccc;
    }
</style>

<body>

    <div class="container my-5">
      <div class="mb-5">
        <h1 class="text-body-emphasis">Análise {{ id }}</h1>

        <br>

        <div class="d-flex justify-content-between">

          <a href="{% url 'acessar_dados_analise' %}" class="btn btn-primary rounded-pill px-3 pe-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Voltar
          </a>
  
          <button id="downloadCSV" class="btn btn-danger rounded-pill px-3 mx-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg> Deletar
          </button>

        </div>
        
        <hr>

        <h4 class="text-body-emphasis pb-1">Usuário: {{ usuario }}</h4>
        <h4 class="text-body-emphasis pb-1">Data: {{ data_analise }}</h4>

        <hr>

        <h4 class="text-body-emphasis pt-3 pb-1">Colheita recomendada: {{ Colheita }}</h4>

              <div class="table-responsive small">
                <table class="table table-striped table-sm tabela-dados">
                  <thead>
                    <tr>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
                      <th scope="col"><img src="../../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
                      <th scope="col"><img src="../../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
                      <th scope="col"><img src="../../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
                      <th scope="col"><img src="../../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
                    </tr>
                  </thead>
                  <tbody>
                
                      <tr>
                        <td><input class="numeric-input" type="number" value="{{ N }}" readonly></td>
                        <td><input class="numeric-input" type="number" value="{{ P }}" readonly></td>
                        <td><input class="numeric-input" type="number" value="{{ K }}" readonly></td>
                        <td><input class="numeric-input" type="float" value="{{ Temperatura }}" readonly></td>
                        <td><input class="numeric-input" type="float" value="{{ Umidade }}" readonly></td>
                        <td><input class="numeric-input" type="float" value="{{ pH }}" readonly></td>
                        <td><input class="numeric-input" type="float" value="{{ Chuva }}" readonly></td>
                      </tr>
        
                  </tbody>
                </table>
              </div>

              <hr>

              <h4 class="text-body-emphasis pt-3 pb-1">Score-z dos valores da colheita</h4>

              <div class="table-responsive small">
                <table class="table table-striped table-sm tabela-dados">
                  <thead>
                    <tr>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Nitrogênio</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Fósforo</th>
                      <th scope="col"><img src="../../static/img/eyedropper.svg" alt="logo-oraculus" width="16px" height="16px"> Potássio</th>
                      <th scope="col"><img src="../../static/img/thermometer-half.svg" alt="logo-oraculus" width="16px" height="16px"> Temperatura</th>
                      <th scope="col"><img src="../../static/img/droplet-half.svg" alt="logo-oraculus" width="16px" height="16px"> Umidade</th>
                      <th scope="col"><img src="../../static/img/moisture.svg" alt="logo-oraculus" width="16px" height="16px"> ph</th>
                      <th scope="col"><img src="../../static/img/cloud-rain-fill.svg" alt="logo-oraculus" width="16px" height="16px"> Chuva</th>
                    </tr>
                  </thead>
                  <tbody>
                
                    <tr>
                      <td><input class="numeric-input" type="float" name="N" value="{{ scoreZ_n }}" readonly></td>
                      <td><input class="numeric-input" type="float" name="P" value="{{ scoreZ_p }}" readonly></td>
                      <td><input class="numeric-input" type="float" name="K" value="{{ scoreZ_k }}" readonly></td>
                      <td><input class="numeric-input" type="float" name="Temperatura" value="{{ scoreZ_temperature }}" readonly></td>
                      <td><input class="numeric-input" type="float" name="Umidade" value="{{ scoreZ_humidity }}" readonly></td>
                      <td><input class="numeric-input" type="float" name="pH" value="{{ scoreZ_ph }}" readonly></td>
                      <td><input class="numeric-input" type="float" name="Chuva" value="{{ scoreZ_rainfall }}" readonly></td>
                    </tr>
        
                  </tbody>
                </table>
              </div>

              <hr>

              <h4 class="text-body-emphasis pb-1">Modelo utilizado: {{ modelos.id }} </h4>
              <h4 class="text-body-emphasis pb-1">Acurácia: {{ modelos.acuracia }} %</h4>

              <ul>
                <li><img src="../../static/img/sliders.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Proporção Teste / Treino: {{ modelos.qtdTeste}}</strong></li>
                <li><img src="../../static/img/robot.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Número de vizinhos : {{ modelos.qtdVizinhos }}</strong></li>
                <li><img src="../../static/img/code-slash.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Algoritmo: {{ modelos.algoritmo }}</strong></li>
                <li><img src="../../static/img/magnet.svg" alt="logo-oraculus" width="16px" height="16px"><strong> Pesos: {{ modelos.pesos }}</strong></li>
              </ul> 

              <hr>
              <form action="{% url 'gerar_relatorio_analise' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ id }}"/>
                <input type="hidden" name="username" value="{{ user.username }}" />
                <input type="hidden" name="data_analise" value="{{ data_analise }}" />
                <input type="hidden" name="N" value="{{ N }}" />
                <input type="hidden" name="P" value="{{ P }}" />
                <input type="hidden" name="K" value="{{ K }}" />
                <input type="hidden" name="Temperatura" value="{{ Temperatura }}" />
                <input type="hidden" name="Umidade" value="{{ Umidade }}" />
                <input type="hidden" name="pH" value="{{ pH }}" />
                <input type="hidden" name="Chuva" value="{{ Chuva }}" />
                <input type="hidden" name="colheita_prevista" value="{{ Colheita }}" />
                <input type="hidden" name="scoreZ_n" value="{{ scoreZ_n }}">
                <input type="hidden" name="scoreZ_p" value="{{ scoreZ_p }}">
                <input type="hidden" name="scoreZ_k" value="{{ scoreZ_k }}">
                <input type="hidden" name="scoreZ_temperature" value="{{ scoreZ_temperature }}">
                <input type="hidden" name="scoreZ_humidity" value="{{ scoreZ_humidity }}">
                <input type="hidden" name="scoreZ_ph" value="{{ scoreZ_ph }}">
                <input type="hidden" name="scoreZ_rainfall" value="{{ scoreZ_rainfall }}">


                <button type=submit class="btn btn-success rounded-pill px-3 mx-right">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                  </svg>
                  Gerar Relatório

                </form>

      </div>
    </div>
  
  </body>

  <script>

    const configButton = document.getElementById("configIA");
        const configTable = document.getElementById("configTable");
    
        configButton.addEventListener("click", function() {
            if (configTable.style.display === "none" || configTable.style.display === "") {
                configTable.style.display = "table";
            } else {
                configTable.style.display = "none";
            }
        });
    
    </script>

{% include 'partials/footer.html' %}