<div class="modal fade" id="modalUploadCSV" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="../static/img/logo-oraculus.png" alt="logo-oraculus" width="62px" height="56px">
                    <span class="fs-2 fw-bold">Oraculus</span>
                </div>
            </div>
  
            <div class="modal-body fw-bold">
                Realize o upload de um modelo CSV preenchido
            </div>
  
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>